---
title: Zettaset XCrypt Full Disk for Pivotal Data Suite
owner: Partners
---

<p class="note warning"><strong>WARNING:</strong> The Zettaset XCrypt Full Disk for Pivotal Data Suite (PDS) is intended for evaluation and test purposes only. Do not use this product in a production Pivotal Greenplum or Pivotal Gemfire environment.</p>

This documentation describes Zettaset XCrypt Full Disk for Pivotal Data Suite. Zettaset XCrypt Full Disk for PDS enables disk-level encryption for all nodes in your deployment of Pivotal Greenplum and Pivotal GemFire. Developers can encrypt entire disks or specific partitions, extend encryption to new nodes, rotate keys, and remove encryption as needed. 

Zettaset's Virtual Enterprise Key Manager (V-EKM) and Virtual Hardware Security Module (V-HSM) are available, separately, as scalable, software-based key management and HSM solutions that are fully integrated with XCrypt Full Disk. 


## <a id='overview'></a> Overview

XCrypt Full Disk is a high-performance, infinitely scalable, full disk encryption solution which is ideal for bulk encryption of stored data. Zettaset's all-software approach to encryption simplifies deployment and eliminates the need for proprietary appliances. It also makes all Zettaset encryption solutions, including XCrypt Full Disk, ideal for use with Pivotal Greenplum and Pivotal GemFire.

XCrypt Full Disk utilizes Advanced Encryption Standard (AES) 256-bit encryption, the highest level attainable. AES has been adopted by the U.S. government and is now used worldwide. It also provides AES-NI accelerated performance in equipped servers.

XCrypt Full Disk provides proven defense in regulated industries such as healthcare, financial services, and retail from the accelerating frequency and scope of data breaches. When integrated into a strategic IT security initiative, XCrypt Full Disk can help bring structured and unstructured data stores into compliance with corporate and regulatory data protection initiatives including PCI/DSS, HIPAA, FISMA, and GDPR.


## <a id='features'></a>Key Features

Zettaset XCrypt Full Disk includes the following key features:

* All-software solution simplifies deployment, easily scales, and delivers exceptional price/performance.
* Optimized for superior performance in scale-out distributed computing systems, with near-zero latency: approximately 3%* when measured using TeraSort MapReduce Benchmark.
* Proven protection for high-volume, high-growth cloud and on-premises data environments.
* Provides a proven defense for sensitive data in regulated industries such healthcare, financial services, and retail from the accelerating frequency and scope of data breaches. Supports corporate and regulatory compliance initiatives including PCI/DSS, HIPAA, FISMA, and GDPR.


## <a id="snapshot"></a> Product Snapshot

<p class='note'><strong>Note:</strong> As of PCF v2.0, Elastic Runtime is renamed Pivotal Application Service (PAS).</p>

The following table provides version and version-support information about Zettaset XCrypt Full Disk.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Plugin version</td>
        <td>v1.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 1, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v8.4.0</td>
    </tr>
    <tr>
        <td>Compatible Greenplum version(s)</td>
        <td>v3.x, v4.x, and v5.x</td>
    </tr>
    <tr>
        <td>Compatible GemFire version(s)</td>
        <td>v8.x and upwards</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (formerly known as Elastic Runtime) version(s)</td>
        <td>v1.11.x, v1.12.x, and v2.0.X</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Yes</td>
    </tr>
</table>


## <a id="reqs"></a> Requirements

Zettaset XCrypt Full Disk has the following requirements:

+ Java v1.7.0 or greater

+ Java Cryptography Extension (JCE) Unlimited Strength Juridiction Policy files

+ libselinux-python and cryptsetup-luks

+ Zettaset Virtual Enterprise Key Manager (V-EKM). To download V-EKM, contact our [sales team](mailto:sales@zettaset.com).


## <a id="feedback"></a> Feedback and Support

At Zettaset, our goal is to ensure a positive, consistent, and successful customer experience with each one of our software security solutions. As part of our ongoing commitment, Zettaset offers a world-class customer service and support program to effectively complement our industry-leading family of big data encryption and key management solutions.

Every aspect of our customer service and support program is staffed by expert, highly-trained engineers who have years of experience with Zettaset security solutions as well as a deep domain experience around encryption, key management, access control, authentication, cloud security, multiple database environments, and compliance requirements.

If you have a feature request, question, or information about a bug, please email
[our support team](mailto:support@zettaset.com).


## <a id='license'></a> License

Contact our [sales team](mailto:sales@zettaset.com) to learn more about commercial licenses and support.
