---
title: Release Notes for Zettaset XCrypt Full Disk
owner: Partners
---

These are release notes for Zettaset XCrypt Full Disk.


## <a id="ver"></a> v8.4.0

**Release Date:** July 19, 2018

Features included in this release:

* Initial GA release
